# Neon PostgreSQL connection string
DATABASE_URL="postgresql://STP_BOARD_APPLICATIONS_owner:npg_eyarPubB87fI@ep-withered-tooth-b4iwixtq.c-6.us-east-2.aws.neon.tech/STP_BOARD_APPLICATIONS?sslmode=require&channel_binding=require"
PORT=5000
